:root {
  --ticker-gap: 1rem;
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--ticker-gap);

  background-color: white;
}

.marquee__content {
  font-size: var(--fs-small);
  font-family: var(--font-secondary);
  font-weight: var(--fw-medium);

  color: black;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: var(--ticker-gap);

  min-width: 100%;
  animation: scroll 10s linear infinite;
}

.marquee__content > * {
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.6rem 1rem;
  white-space: nowrap;
}

.marquee img {
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  display: inline-block;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--ticker-gap)));
  }
}